* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
/* *************************************** HEADER ********************************************** */

header {
	background-color: rgb(15, 15, 15);
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}
.header__logo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-logo {
	width: 10rem;
	height: 12.4rem;
}
.header__nav {
	width: 100%;
	color: orange;
	font-size: 2rem;
	list-style: none;
	display: flex;
	justify-content: center;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

.header__nav li {
	display: inline;
	padding: 2rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	margin: auto;
}

/* ************************************** MAIN ************************************************ */

.main__article {
	width: 100%;
	height: auto;
	background-color: white;
}

.main__title {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 5rem;
	text-align: center;
	padding: 2rem;
	background-color: #e2e2e2;
}

.main__picture {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.main__picture > img {
	height: 17rem;
}

.main_information {
	width: 100%;
	padding: 2rem;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: justify;
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	font-weight: 100;
	overflow: hidden;
}

.main__cards {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 2rem;
	justify-content: space-evenly;
}

/* *************************************** CARD ********************************************* */

.card_01,
.card_02,
.card_03,
.card_04 {
	-webkit-box-shadow: 5px 5px 5px -1px #999999;
	box-shadow: 5px 5px 5px -1px #999999;
	margin-bottom: 2rem;
	width: 22rem;
	height: 12rem;
	border-radius: 10px;
	background-size: cover;
}
.card_01 {
	background-image: url(../img/bebe.jpg);
}

.card_02 {
	background-image: url(../img/pequeño.jpg);
}

.card_03 {
	background-image: url(../img/joven.jpg);
}

.card_04 {
	background-image: url(../img/viejo.jpg);
}

/* *************************************** FOOTER ********************************************* */

footer {
	display: flex;
	align-content: center;
	background-color:  rgb(15, 15, 15);
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	font-size: 1.8rem;
	color: #e2e2e2;
}

.footer__social-media {
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	padding: 1rem;
	order: 2;
	color: #ff6600;
}

.footer__social-media > ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.footer__social-media > ul > li > i::before {
	margin-right: 1rem;
	margin-left: 1rem;
	list-style: none;
}
.footer__contact {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: 	#e2e2e2;
	text-align: center;
	width: 100%;
	padding: 1rem;
	order: 1;
}

/* ************************************************************************* */

@media (min-width: 992px) {
	.container {
		display: flex;
	}

	header {
	}
	.header__logo {
		width: 20%;
	}
	.header__nav {
		width: 80%;
		display: flex;
		justify-content: flex-end;
		padding-right: 2rem;
	}

	.main__article {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	.main__title {
		width: 100%;
		align-self: flex-start;
	}

	.main__picture {
		width: 15%;
		order: 3;
	}

	.main_information {
		width: 65%;
		margin: 0;
		display: flex;
		justify-content: center;
		order: 2;
	}

	.main__cards {
		width: 20%;
		margin: 0;
		order: 1;
		justify-content: center;
	}

	footer {
		order: 4;
		align-items: flex-start;
	}
	.footer__social-media {
		width: 20%;
		order: 1;
	}

	.footer__contact {
		width: 65%;
		padding-top: 1rem;
		order: 2;
	}

	.footer__social-media > ul > li > i::before {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.header__nav > ul {
		padding-right: 5rem;
			}
}
