* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

/* *************************************** HEADER ********************************************** */

header {
	background-color: #000;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
}

.header__logo {
	width: 20%;
	display: flex;
	justify-content: center;
}
.img-logo {
	width: 8rem;
}
.header__nav {
	color: ivory;
	font-size: 2rem;
	list-style: none;
	text-align: center;
	margin-right: 12rem;
}

.header__nav li {
	display: inline-block;
	padding: 2rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

/* ************************************** MAIN ************************************************ */

main {
	display: flex;
	width: 100%;
	height: 85vh;
	margin: 0 auto;
}

.main__aside {
	display: inline-block;
	width: 20%;
	height: 100%;
	background-color: #e2e2e2;
}
.main__article {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 79%;
	height: 100%;
	position: -100;
	flex-direction: column;
}

.main__article > section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5rem;
}
.main__article > h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	font-size: 8rem;
	text-align: center;
}

.main__article > section > img {
	width: 15rem;
	display: inherit;
}

.main__article > section > p {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8rem;
	font-size: 2rem;
	text-align: justify;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	overflow: hidden;
}

/* *************************************** CARD ********************************************* */

.main__aside {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.card_01,
.card_02,
.card_03,
.card_04 {
	-webkit-box-shadow: 5px 5px 5px -1px #999999;
	box-shadow: 5px 5px 5px -1px #999999;
}
.card_01 {
	width: 25rem;
	height: 15rem;
	background-color: rgb(177, 177, 177);
	border-radius: 10px;
	background-image: url(../img/bebe.jpg);
	background-size: cover;
}

.card_02 {
	width: 25rem;
	height: 15rem;
	background-color: rgb(177, 177, 177);
	border-radius: 10px;
	background-image: url(../img/pequeño.jpg);
	background-size: cover;
}

.card_03 {
	width: 25rem;
	height: 15rem;
	background-color: rgb(177, 177, 177);
	border-radius: 10px;
	background-image: url(../img/joven.jpg);
	background-size: cover;
}

.card_04 {
	width: 25rem;
	height: 15rem;
	background-color: rgb(177, 177, 177);
	border-radius: 10px;
	background-image: url(../img/viejo.jpg);
	background-size: cover;
}

/* *************************************** FOOTER ********************************************* */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	height: 5vh;
	width: 100vw;
}

footer section {
	color: #e2e2e2;
	font-size: 1.8rem;
}

.footer__social-media {
	list-style: none;
	text-align: center;
	display: inline-block;
	width: 20%;
}
.footer__social-media li {
	display: inline-block;
	font-family: "Open Sans", sans-serif;
}

.footer__social-media > ul > li > i::before {
	margin-right: 10px;
	margin-left: 10px;
}
.footer__contact {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	width: 100%;
}

/* ************************************************************************* */
